.hero {
	position: relative;
	padding-block: 2rem;
}

.hero .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	align-items: center;
}

.hero__content {
	display: grid;
	gap: 1.5rem;
}

.hero__image {
	transform: scale(1.2) translateY(10px);
	transform-origin: left;
}

.hero__btns {
	display: flex;
	gap: 1rem;
}
