.extension {
	display: grid;
	justify-items: center;
}

.extension__title,
.extension__desc,
.extension__card__title,
.extension__card__version {
	text-align: center;
	margin-block: 0.5rem;
}

.extension__desc {
	max-width: 550px;
	margin: 1rem auto;
}

.extension__cards {
	margin-block: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
}

.extension__card {
	display: grid;
	flex-shrink: 1;
	justify-items: center;
	gap: 1rem;
	padding: 1.5rem;
	border-radius: 0.5rem;
	box-shadow: 0 10px 20px rgba(55, 103, 192, 0.15);
	position: relative;
}

.extension__card__version {
	margin-bottom: 2rem;
	font-size: 0.85rem;
}

.extension__card .btn {
	margin-top: 1.5rem;
	padding-inline: 2rem;
}

.extension__title .extension__image {
	width: max-content;
}

.dots {
	position: absolute;
	left: 0;
}

@media (min-width: 1000px) {
	.extension {
		margin-block: 1rem;
	}
	.extension__card {
		transform: translateY(var(--offset-top, 0));
	}
	.extension__cards {
		flex-wrap: nowrap;
	}
}
