.navbar {
	display: flex;
	align-items: center;
	gap: 3rem;
}

.navlinks {
	display: flex;
	gap: inherit;
	margin-left: auto;
}

.navlink:hover a {
	color: var(--secondary-color);
}

.btn.login {
	--btn-bg: var(--secondary-color);
	color: white;
	padding: 0.75rem 2rem;
}
