.features {
	position: relative;
	margin-block: 4rem;
}

.features .container {
	display: grid;
	justify-content: center;
}

.features .round-bg {
	left: 0;
	border-radius: 0 50rem 50rem 0;
}

.features__title,
.features__desc {
	text-align: center;
}

.features__desc {
	max-width: 500px;
	margin: 1rem auto;
}
.features__list {
	width: max-content;
	margin: 2rem auto;
	display: flex;
	border-bottom: 1px solid rgb(212, 212, 212);
	position: relative;
}

.features__item {
	padding: 1.5rem 2.5rem;
	cursor: pointer;
	font-size: 1rem;
}

.features__item:hover {
	color: var(--secondary-color);
}

.features__list::after {
	content: "";
	position: absolute;
	top: var(--top, 100%);
	height: 0.25rem;
	left: var(--left, 0);
	width: var(--width, 0);
	transform: translateY(-100%);
	transition: all 0.2s linear;
	background-color: var(--secondary-color);
}

.feature {
	padding-block: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 6rem;
	min-height: 500px;
}

.feature__image,
.feature__content {
	transform: translate(0, 0);
	opacity: 1;
}

.feature__content {
	display: grid;
	justify-items: flex-start;
	gap: 1.5rem;
}

.mounting .feature__image {
	animation: fadeUp 0.7s ease-out;
}
.mounting .feature__content {
	animation: fadeDown 0.7s ease-out;
}

@keyframes fadeUp {
	from {
		transform: translateY(50px);
		opacity: 0;
	}
}

@keyframes fadeDown {
	from {
		transform: translateY(-50px);
		opacity: 0;
	}
}

@media (max-width: 800px) {
	.feature,
	.feature__content {
		grid-template-columns: 1fr;
		justify-items: center;
		text-align: center;
	}

	.features {
		margin-top: 0;
	}
	.features__list {
		flex-direction: column;
		text-align: center;
	}
	.feature__desc {
		max-width: 500px;
	}
	.features .round-bg {
		bottom: 26%;
		width: 70%;
	}
	.features__list::after {
		width: 10rem;
		left: 50%;
		transform: translateX(-50%);
	}
}
