@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: hsl(231, 69%, 60%);
	--secondary-color: hsl(0, 94%, 66%);
}

body {
	font-family: "Rubik", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	padding: 0.75rem 2rem;
	border-radius: 0.25rem;
	font-family: inherit;
	font-size: 1rem;
	border: none;
	cursor: pointer;
}

.container {
	max-width: 1200px;
	padding: 2rem;
	margin: 0 auto;
}
